body, html {
  background-color: #2d3c49;
}

a {
  text-decoration: none;
}

body {
  margin: auto;
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 30%;
    max-height: 150px;
  }

  .header {
    max-height: 150px;
  }

  .header__title {
    color: #7d97ad;
    font-weight: 300;
    font-size: 13vw;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
  }

  .header__subtitle {
    color: white;
    font-weight: 200;
    font-size: 4vw;
  }

  .fw__title {
    color: #7d97ad;
    font-weight: 200;
    font-size: 8vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Verdana;
    text-align: left;
  }

  .p1 {
    width: 100%;
    order: 1;
  }

  .p2 {
    width: 100%;
    order: 2;
  }

  .p3 {
    width: 100%;
    order: 3;
  }

  .proj-pic {
    width: 100%;
  }

  .container h2 {
    font-size: 8vw;
    margin-bottom: -0.5em;
    margin-top: 0.5em;
  }

  .container p {
    font-size: 4vw;
    color: #7d97ad;
  }

  .fw__proj {
    text-align: center;
    margin-bottom: 1em;
    position: relative;
  }

  .proj_pic {
    width: 100%;
  }

  .description {
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    color: #fff;
    padding: 1em;
  }

  .description p {
    word-wrap: break-word;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  body {
    margin: 1em;
  }

  .header__logo {
    width: 30%;
    vertical-align: middle;
  }

  .header__title {
    color: #7d97ad;
    font-weight: 300;
    font-size: 13vw;
    margin-top: 0.25em;
    margin-bottom: -0.25em;
  }

  .header__subtitle {
    color: white;
    font-weight: 200;
    font-size: 4vw;
  }

  .fw__title {
    color: #7d97ad;
    font-weight: 200;
    font-size: 50px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Verdana;
    text-align: left;
  }

  .p1 {
    width: 100%;
    order: 1;
    margin-bottom: 1em;
  }

  .p2 {
    width: 100%;
    order: 2;
    margin-bottom: 1em;
  }

  .p3 {
    width: 100%;
    order: 3;
  }

  .proj_pic {
    width: 67%;
    height: 100%;
    float:left;
  }

  .container h2 {
    font-size: 5vw;
  }

  .container p {
    font-size: 2.5vw;
    color: #7d97ad;
  }

  .fw__proj {
    height: 100%;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
  }

  .description {
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    height: 100%;
    width: 33%;
    color: #fff;
    padding: 1em;
    vertical-align: middle;
    overflow: hidden;
  }

  .description p {
    word-wrap: break-word;
  }
}

@media screen and (min-width: 901px) {
  body {
    max-width: 1200px;
    padding: 2em;
  }

  .header__title {
    color: #7d97ad;
    font-weight: 300;
    font-size: 100px;
    margin-top: 0.25em;
    margin-bottom: -0.25em;
  }

  .header__subtitle {
    color: white;
    font-weight: 200;
    font-size: 34px;
  }

  .fw__title {
    color: #7d97ad;
    font-weight: 200;
    font-size: 50px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Verdana;
    text-align: left;
  }

  .p1 {
    width: 33%;
    order: 1;
  }

  .p2 {
    width: 33%;
    order: 2;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

  .p3 {
    width: 33%;
    order: 3;
  }

  .proj_pic {
    width: 100%;
    height: 65%;
  }

  .container p {
    color: #7d97ad;
  }

  .description {
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 35%;
    color: #fff;
    padding: 0.25em;
    text-align: center;
  }

  .description p {
    word-wrap: break-word;
  }
}

.header {
  min-height: 56px;
  transition: min-height 0.3s;
  width: 100%;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  max-width: 200px;
}

.header__text {
  display: inline-block;
  font-family: Verdana;
  text-align: right;
  float: right;
  margin-right: 0.5em;
  vertical-align: top;
  margin-top: -0.5em;
}

.main {
  margin-top: 1em;
  border-top: solid #7d97ad 4px;
  padding-top: 1em;
}

.main_pic {
  float: left;
  width: 100%;
  margin-bottom: 1em;
}

.main_pic__img {
  width: 100%;
}

.featured_work {
  width: 100%;
  margin-top: 2em;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}
